#generate {
    border-radius: 2em;
    font-weight: bold;
    cursor: pointer;
}

#myURL,
#generate {
    background-color: thistle;
    color: purple;
    font-style: italic;
    padding: 2vh 2vw;
}

#demo {
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: underline rosybrown 0.125em;
}

#note {
    font-weight: bold;
}